@import '~ng-devui/styles-var/devui-var.scss';

d-card {
  float: left;
  padding: 20px;
  margin-left: 45px;
  margin-top: 30px;
  //margin: 0,auto;
  background-color: #fff;
}

//div {
//  margin:0,auto;
//}

.card-icon {
  cursor: pointer;
  font-size: $devui-font-size-icon;
  margin-right: 8px;
  vertical-align: middle;
}

.card-icon + span {
  vertical-align: middle;
}

.card-block {
  margin-right: 16px;
}

.card-container {
  width: 350px;
}

d-status {
  margin-bottom: 5px;
}
