<ng-container>
  <d-card class="card-container" [interactive]="true" *ngFor="let item of equipList1;let i=index">
    <d-card-header>
      <d-card-title>装备{{item.machineNumber}}
        <div style="text-align: right;">
          <d-button style="margin-top: 5px;"routerLink="/realtime/{{item.machineNumber}}">实时</d-button>
          <d-button style="margin-left: 5px;" routerLink="/offline/{{item.machineNumber}}">历史</d-button>
        </div>
      </d-card-title>
    </d-card-header>
    <d-card-content>
      <d-status type="success"></d-status>
      <p>累计开机时长：15h36min</p>
      <p>当班时长：3h44min</p>
      <p>当班工件数：42</p>
      <div id="radar{{i}}" style="width: 300px;height:300px;"></div>
    </d-card-content>
  </d-card>
</ng-container>



