<!-- <d-button icon="icon-go-back" bsStyle="primary" bsSize="xs" title="add" shape="circle" class="goBack"
    routerLink="/list" (click)="goBack()"></d-button> -->

<d-button icon="icon-arrow-right" bsStyle="primary" routerLink="/offline/{{equipmentID}}" class="history"> 历史</d-button>


<d-card class="card-container three" [interactive]="false">
  <!--    <d-card-header>-->
  <!--        <d-avatar dCardAvatar [name]="'characteristic'"></d-avatar>-->
  <!--        <d-card-title>质量参数统计</d-card-title>-->
  <!--        &lt;!&ndash; <d-card-subtitle><i class="icon-company-member card-icon"></i><span>DevUI</span></d-card-subtitle> &ndash;&gt;-->
  <!--    </d-card-header>-->
  <d-card-content>

    <d-checkbox-group [(ngModel)]="checkBoxValues1" [itemWidth]="120" [name]="'demo1'" [options]="options1"
                      [direction]="'row'" [isShowTitle]="true" (change)="onCheckbox1Change($event)">
    </d-checkbox-group>

    <div class="original">
      <h1>原始波形</h1>
      <div class="OriginalWaveform" style="width:90%;height:80%;"></div>
    </div>

    <div class="frequency-spectrum">
      <h1>频谱图</h1>
      <div class="Spectrogram" style="width:90%;height:80%;"></div>
    </div>

    <div class="time-frequency">
      <h1>时频图</h1>
      <div class="TimeFrequencyDiagram" style="width: 90%;height:80%;"></div>
    </div>


  </d-card-content>
</d-card>


<div class="statistics" style="display: block">
  <h1>统计信息</h1>
  <d-card class="statistic" [interactive]="false" [(ngModel)]="R1" ngDefaultControl>
    <d-card-header>
      <d-avatar dCardAvatar [name]="'统'"></d-avatar>
      <d-card-title>前轴承加速度X</d-card-title>
      <!-- <d-card-subtitle><i class="icon-company-member card-icon"></i><span>DevUI</span></d-card-subtitle> -->
    </d-card-header>
    <p>峰值：{{R1[0]}}</p>
    <p>峭度：{{R1[1]}}</p>
    <p>方差：{{R1[2]}}</p>
    <!-- <div style="height:20px;width:20px;background-color:blue"></div> -->
  </d-card>

  <d-card class="statistic" [interactive]="false" [(ngModel)]="R2" ngDefaultControl>
    <d-card-header>
      <d-avatar dCardAvatar [name]="'统'"></d-avatar>
      <d-card-title>前轴承加速度Y</d-card-title>
      <!-- <d-card-subtitle><i class="icon-company-member card-icon"></i><span>DevUI</span></d-card-subtitle> -->
    </d-card-header>
    <p>峰值：{{R2[0]}}</p>
    <p>峭度：{{R2[1]}}</p>
    <p>方差：{{R2[2]}}</p>
    <!-- <div style="height:20px;width:20px;background-color:blue"></div> -->
  </d-card>

  <d-card class="statistic" [interactive]="false" [(ngModel)]="R3" ngDefaultControl>
    <d-card-header>
      <d-avatar dCardAvatar [name]="'统'"></d-avatar>
      <d-card-title>前轴承加速度Z</d-card-title>
      <!-- <d-card-subtitle><i class="icon-company-member card-icon"></i><span>DevUI</span></d-card-subtitle> -->
    </d-card-header>
    <p>峰值：{{R3[0]}}</p>
    <p>峭度：{{R3[1]}}</p>
    <p>方差：{{R3[2]}}</p>
    <!-- <div style="height:20px;width:20px;background-color:blue"></div> -->
  </d-card>

  <d-card class="statistic" [interactive]="false" [(ngModel)]="R4" ngDefaultControl>
    <d-card-header>
      <d-avatar dCardAvatar [name]="'统'"></d-avatar>
      <d-card-title>后轴承加速度X</d-card-title>
      <!-- <d-card-subtitle><i class="icon-company-member card-icon"></i><span>DevUI</span></d-card-subtitle> -->
    </d-card-header>
    <p>峰值：{{R4[0]}}</p>
    <p>峭度：{{R4[1]}}</p>
    <p>方差：{{R4[2]}}</p>
    <!-- <div style="height:20px;width:20px;background-color:blue"></div> -->
  </d-card>

  <d-card class="statistic" [interactive]="false" [(ngModel)]="R5" ngDefaultControl>
    <d-card-header>
      <d-avatar dCardAvatar [name]="'统'"></d-avatar>
      <d-card-title>后轴承加速度Y</d-card-title>
      <!-- <d-card-subtitle><i class="icon-company-member card-icon"></i><span>DevUI</span></d-card-subtitle> -->
    </d-card-header>
    <p>峰值：{{R5[0]}}</p>
    <p>峭度：{{R5[1]}}</p>
    <p>方差：{{R5[2]}}</p>
    <!-- <div style="height:20px;width:20px;background-color:blue"></div> -->
  </d-card>

  <d-card class="statistic" [interactive]="false" [(ngModel)]="R6" ngDefaultControl>
    <d-card-header>
      <d-avatar dCardAvatar [name]="'统'"></d-avatar>
      <d-card-title>后轴承加速度Z</d-card-title>
      <!-- <d-card-subtitle><i class="icon-company-member card-icon"></i><span>DevUI</span></d-card-subtitle> -->
    </d-card-header>
    <p>峰值：{{R6[0]}}</p>
    <p>峭度：{{R6[1]}}</p>
    <p>方差：{{R6[2]}}</p>
    <!-- <div style="height:20px;width:20px;background-color:blue"></div> -->
  </d-card>

  <d-card class="statistic" [interactive]="false" [(ngModel)]="R7" ngDefaultControl>
    <d-card-header>
      <d-avatar dCardAvatar [name]="'统'"></d-avatar>
      <d-card-title>前轴承位移X</d-card-title>
      <!-- <d-card-subtitle><i class="icon-company-member card-icon"></i><span>DevUI</span></d-card-subtitle> -->
    </d-card-header>
    <p>峰值：{{R7[0]}}</p>
    <p>峭度：{{R7[1]}}</p>
    <p>方差：{{R7[2]}}</p>
    <!-- <div style="height:20px;width:20px;background-color:blue"></div> -->
  </d-card>

  <d-card class="statistic" [interactive]="false" [(ngModel)]="R8" ngDefaultControl>
    <d-card-header>
      <d-avatar dCardAvatar [name]="'统'"></d-avatar>
      <d-card-title>前轴承位移Y</d-card-title>
      <!-- <d-card-subtitle><i class="icon-company-member card-icon"></i><span>DevUI</span></d-card-subtitle> -->
    </d-card-header>
    <p>峰值：{{R8[0]}}</p>
    <p>峭度：{{R8[1]}}</p>
    <p>方差：{{R8[2]}}</p>
    <!-- <div style="height:20px;width:20px;background-color:blue"></div> -->
  </d-card>

  <d-card class="statistic" [interactive]="false" [(ngModel)]="R9" ngDefaultControl>
    <d-card-header>
      <d-avatar dCardAvatar [name]="'统'"></d-avatar>
      <d-card-title>支座X</d-card-title>
      <!-- <d-card-subtitle><i class="icon-company-member card-icon"></i><span>DevUI</span></d-card-subtitle> -->
    </d-card-header>
    <p>峰值：{{R9[0]}}</p>
    <p>峭度：{{R9[1]}}</p>
    <p>方差：{{R9[2]}}</p>
    <!-- <div style="height:20px;width:20px;background-color:blue"></div> -->
  </d-card>

  <d-card class="statistic" [interactive]="false" [(ngModel)]="R10" ngDefaultControl>
    <d-card-header>
      <d-avatar dCardAvatar [name]="'统'"></d-avatar>
      <d-card-title>支座Y</d-card-title>
      <!-- <d-card-subtitle><i class="icon-company-member card-icon"></i><span>DevUI</span></d-card-subtitle> -->
    </d-card-header>
    <p>峰值：{{R10[0]}}</p>
    <p>峭度：{{R10[1]}}</p>
    <p>方差：{{R10[2]}}</p>
    <!-- <div style="height:20px;width:20px;background-color:blue"></div> -->
  </d-card>

  <d-card class="statistic" [interactive]="false" [(ngModel)]="R11" ngDefaultControl>
    <d-card-header>
      <d-avatar dCardAvatar [name]="'统'"></d-avatar>
      <d-card-title>支座Z</d-card-title>
      <!-- <d-card-subtitle><i class="icon-company-member card-icon"></i><span>DevUI</span></d-card-subtitle> -->
    </d-card-header>
    <p>峰值：{{R11[0]}}</p>
    <p>峭度：{{R11[1]}}</p>
    <p>方差：{{R11[2]}}</p>
    <!-- <div style="height:20px;width:20px;background-color:blue"></div> -->
  </d-card>

  <d-card class="statistic" [interactive]="false" [(ngModel)]="R12" ngDefaultControl>
    <d-card-header>
      <d-avatar dCardAvatar [name]="'统'"></d-avatar>
      <d-card-title>红外1温度</d-card-title>
      <!-- <d-card-subtitle><i class="icon-company-member card-icon"></i><span>DevUI</span></d-card-subtitle> -->
    </d-card-header>
    <p>环境：{{R12[0]}}</p>
    <p>目标：{{R12[1]}}</p>
    <p></p>
    <!-- <div style="height:20px;width:20px;background-color:blue"></div> -->
  </d-card>

  <d-card class="statistic" [interactive]="false" [(ngModel)]="R13" ngDefaultControl>
    <d-card-header>
      <d-avatar dCardAvatar [name]="'统'"></d-avatar>
      <d-card-title>红外2温度</d-card-title>
      <!-- <d-card-subtitle><i class="icon-company-member card-icon"></i><span>DevUI</span></d-card-subtitle> -->
    </d-card-header>
    <p>环境：{{R13[0]}}</p>
    <p>目标：{{R13[1]}}</p>
    <p></p>
    <!-- <div style="height:20px;width:20px;background-color:blue"></div> -->
  </d-card>

  <d-card class="statistic" [interactive]="false" [(ngModel)]="R14" ngDefaultControl>
    <d-card-header>
      <d-avatar dCardAvatar [name]="'统'"></d-avatar>
      <d-card-title>接触1温度</d-card-title>
      <!-- <d-card-subtitle><i class="icon-company-member card-icon"></i><span>DevUI</span></d-card-subtitle> -->
    </d-card-header>
    <p>均值：{{R14[0]}}</p>
    <p>峰值：{{R14[1]}}</p>
    <p></p>
    <!-- <div style="height:20px;width:20px;background-color:blue"></div> -->
  </d-card>

  <d-card class="statistic" [interactive]="false" [(ngModel)]="R15" ngDefaultControl>
    <d-card-header>
      <d-avatar dCardAvatar [name]="'统'"></d-avatar>
      <d-card-title>接触2温度</d-card-title>
      <!-- <d-card-subtitle><i class="icon-company-member card-icon"></i><span>DevUI</span></d-card-subtitle> -->
    </d-card-header>
    <p>均值：{{R15[0]}}</p>
    <p>峰值：{{R15[1]}}</p>
    <p></p>
    <!-- <div style="height:20px;width:20px;background-color:blue"></div> -->
  </d-card>
</div>

<d-card class="history-curve" [interactive]="false">
  <d-card-header>
    <d-avatar dCardAvatar [name]="'历'"></d-avatar>
    <d-card-title>历史曲线</d-card-title>
    <!-- <d-card-subtitle><i class="icon-company-member card-icon"></i><span>DevUI</span></d-card-subtitle> -->
  </d-card-header>
  <d-card-content>
    <d-checkbox-group [(ngModel)]="checkHistoryValues1" [itemWidth]="130" [name]="'demo1'" [options]="historyChecked1"
                      [direction]="'row'" [isShowTitle]="true" (change)="onCheckhistory1Change($event)">
    </d-checkbox-group>
    <!-- <d-checkbox-group [(ngModel)]="checkHistoryValues1" [itemWidth]="120" [name]="'demo1'" [options]="historyChecked2"
        [direction]="'row'" [isShowTitle]="true" (change)="onCheckhistory2Change($event)">
    </d-checkbox-group>
    <d-checkbox-group [(ngModel)]="checkHistoryValues1" [itemWidth]="120" [name]="'demo1'" [options]="historyChecked3"
        [direction]="'row'" [isShowTitle]="true" (change)="onCheckhistory3Change($event)">
    </d-checkbox-group> -->


  </d-card-content>
</d-card>
