
<d-range-datepicker-pro
  [appendToBody]="false"
  [(ngModel)]="datevalue"
  [showTime]="true"
  [format]="'y-MM-dd'"
  (confirmEvent)="onChange($event)"
></d-range-datepicker-pro>

<d-button icon="icon-arrow-right" style="margin-left: 5px" bsStyle="primary" routerLink="/realtime/{{equipmentID}}"> 实时</d-button>
<d-button icon="icon-arrow-left" bsStyle="primary" routerLink="/list/1"> 返回</d-button>


<d-card class="card-container" [interactive]="false">
  <d-card-header>
    <d-avatar dCardAvatar [name]="'历'"></d-avatar>
    <d-card-title>历史曲线</d-card-title>
    <!-- <d-card-subtitle><i class="icon-company-member card-icon"></i><span>DevUI</span></d-card-subtitle> -->
  </d-card-header>
  <d-card-content>
    <d-radio-group
      [name]="'independent-city'"
      [values]="radio"
      [direction]="'row'"
      [(ngModel)]="radioValue"
      [ngStyle]="{ marginBottom: '20px' }"
      (change)="radioChange()"
    >
    </d-radio-group>
    <d-checkbox-group
      [(ngModel)]="checkHistoryValues1"
      [itemWidth]="130"
      [name]="'demo1'"
      [filterKey]="'name'"
      [options]="historyChecked1"
      [labelTemplate]="mylabel"
      [direction]="'row'"
      [isShowTitle]="true"
      (change)="onCheckhistory1Change($event)"
      [disabled]="disabled">
      <ng-template #mylabel let-disabled="disabled" let-label="label">
        <span class="icon-collapse" style="margin-top: 2px"></span>
        <span>{{ label }}</span>
      </ng-template>
    </d-checkbox-group>

    <div id="characteristic-curve" style="width: 700px;height:300px;margin: auto;"></div>


  </d-card-content>
</d-card>

<d-card class="card-container" [interactive]="false">
  <d-card-header>
    <d-avatar dCardAvatar [name]="'工艺'"></d-avatar>
    <d-card-title>工艺数据曲线</d-card-title>
    <!-- <d-card-subtitle><i class="icon-company-member card-icon"></i><span>DevUI</span></d-card-subtitle> -->
  </d-card-header>
  <d-card-content>

    <div dImagePreview style="text-align: center;margin-top: 20px;">
      <div class="data-curve">
        <h1>进给速度</h1>
      </div>
    </div>
    <div dImagePreview style="text-align: center;margin-top: 20px;">
      <div class="data-curve">
        <h1>主轴线速度</h1>
      </div>
    </div>
    <div dImagePreview style="text-align: center;margin-top: 20px;">
      <div class="data-curve">
        <h1>工件轴转速</h1>
      </div>
    </div>

  </d-card-content>
</d-card>


<d-card class="card-container parameter-statistics" [interactive]="false">
  <d-card-header>
    <d-avatar dCardAvatar [name]="'质量'"></d-avatar>
    <d-card-title>质量参数统计</d-card-title>
    <!-- <d-card-subtitle><i class="icon-company-member card-icon"></i><span>DevUI</span></d-card-subtitle> -->
  </d-card-header>
  <d-card-content>

    <div class="parameter">
      <h1>尺寸</h1>
    </div>

    <div class="parameter">
      <h1>粗糙度</h1>
    </div>

    <div class="parameter">
      <h1>波纹度</h1>
    </div>

    <div class="parameter">
      <h1>圆度</h1>
    </div>

  </d-card-content>
</d-card>





<d-card class="card-container workpiece-list" [interactive]="false">
  <d-card-content>

    <d-data-table [dataSource]="basicDataSource" [scrollable]="true" [tableWidthConfig]="tableWidthConfig"
                  maxHeight="500px"
                  [tableOverflowType]="'overlay'">
      <thead dTableHead>
      <tr dTableRow>
        <th dHeadCell>#</th>
        <th dHeadCell>工件列表</th>
      </tr>
      </thead>
      <tbody dTableBody>
      <ng-template let-rowItem="rowItem" dLoading [showLoading]="showLoading">
        <tr dTableRow *ngFor="let item of workpieceList;let i=index" routerLink="/workpieceInfo/{{item}}">
          <td dTableCell>{{ i + 1 }}</td>
          <td dTableCell>
            {{item}}
          </td>
        </tr>
      </ng-template>
      </tbody>
    </d-data-table>

  </d-card-content>
</d-card>



