<d-button (click)="getRemoteData()" style="margin-right: 5px">刷新</d-button>
<d-button  style="margin-right: 5px" (click)="openStandardDialog('standard')"> 添加 </d-button>
<br />
<br />
<d-data-table
  dLoading
  [dataSource]="remoteDataSource"
  [tableOverflowType]="'overlay'"
  [backdrop]="true"
  [scrollable]="true"
  [showLoading]="showLoading"
  [striped]="true"
  [shadowType]="'normal'"
  [headerBg]="false"
>
  <thead dTableHead>
  <tr dTableRow>
<!--    <th dHeadCell *ngFor="let colOption of colDataOptions">-->
<!--      {{ colOption.header }}-->
<!--    </th>-->
    <th dHeadCell>#</th>
    <th dHeadCell>设备名称</th>
    <th dHeadCell>IP地址1</th>
    <th dHeadCell>IP地址2</th>
    <th dHeadCell>归属生产线</th>
    <th dHeadCell>操作</th>
  </tr>
  </thead>
  <tbody dTableBody>
  <ng-template let-rowItem="rowItem" let-rowIndex="rowIndex">
    <tr dTableRow *ngFor="let item of deviceList;let i=index">
<!--      <td dTableCell *ngFor="let colOption of colDataOptions">-->
<!--        {{ colOption.fieldType === 'date' ? (rowItem[colOption.field] | i18nDate: 'short':false) : rowItem[colOption.field] }}-->
<!--      </td>-->
      <td dTableCell>{{ i + 1 }}</td>
<!--      <td-->
<!--        dTableCell [editable]="true">{{item.deviceName}}</td>-->
<!--      <td dTableCell>{{item.ip}}</td>-->


      <td dTableCell [editable]="false" [(editing)]="item['nameEdit']">
        <span *ngIf="!item['nameEdit']">{{item.machineNumber}}</span>
        <div *ngIf="item['nameEdit']" class="edit-padding-fix">
          <input
            class="devui-form-control"
            autofocus
            name="lastname"
            [(ngModel)]="item.machineNumber"
            [attr.maxlength]="100"
            [attr.minlength]="3"
          />
        </div>
      </td>

<!--      <td dTableCell>{{item.ip}}</td>-->
      <td dTableCell [editable]="isEditable[i]" [(editing)]="item['ip1Edit']">
        <span *ngIf="!item['ip1Edit']">{{item.machineIp[0]}}</span>
        <div *ngIf="item['ip1Edit']" class="edit-padding-fix">
          <input
            class="devui-form-control"
            autofocus
            name="lastname"
            [(ngModel)]="item.machineIp[0]"
            [attr.maxlength]="100"
            [attr.minlength]="3"
          />
        </div>
      </td>

      <td dTableCell [editable]="isEditable[i]" [(editing)]="item['ip2Edit']">
        <span *ngIf="!item['ip2Edit']">{{item.machineIp[1]}}</span>
        <div *ngIf="item['ip2Edit']" class="edit-padding-fix">
          <input
            class="devui-form-control"
            autofocus
            name="lastname"
            [(ngModel)]="item.machineIp[1]"
            [attr.maxlength]="100"
            [attr.minlength]="3"
          />
        </div>
      </td>

      <td dTableCell>
        <d-select
          [(ngModel)]="item.beltLine"
          [appendToBody]="true"
          [appendToBodyDirections]="['leftDown', 'leftUp']"
          [options]="productionLineOptions"
          [allowClear]="true"
          [disabled]="!isEditable[i]"
        >
        </d-select>
      </td>
      <td>
        <d-button style="margin-right: 5px;margin-top: 5px" (click)="alter(i)">编辑</d-button>
        <d-button style="margin-right: 5px;margin-top: 5px" (click)="save(i,item)">保存</d-button>
        <d-button style="margin-right: 5px;margin-top: 5px" (click)="openDialog('warning');delete(i,item.machineNumber)">删除</d-button>
      </td>

    </tr>
  </ng-template>
  </tbody>
  <ng-template #noResultTemplateRef>
    <div style="text-align: center; margin-top: 20px">No Data</div>
  </ng-template>
</d-data-table>
