<d-button icon="icon-go-back" bsStyle="primary" bsSize="xs" title="add" shape="circle" class="goBack"
          (click)="goBack()"></d-button>

<h1>工件编号：{{workpieceName}}</h1>
<d-card class="card-container three" [interactive]="false">
  <!-- <d-card-header>
      <d-avatar dCardAvatar [name]="'characteristic'"></d-avatar>
      <d-card-title>质量参数统计</d-card-title>
  </d-card-header> -->
  <d-card-content>

    <d-checkbox-group [(ngModel)]="checkBoxValues1" [itemWidth]="120" [name]="'demo1'" [options]="options1"
                      [direction]="'row'" [isShowTitle]="true" (change)="onCheckbox1Change($event)">
    </d-checkbox-group>
    <div class="original">
      <div class="OriginalWaveform" style="width:100%;height:100%;margin:auto;padding: 20px">
        <h1>原始波形</h1>
      </div>
    </div>

    <div class="frequency-spectrum">
      <div class="Spectrogram" style="width:100%;height:100%;margin:auto;padding: 20px">
        <h1>频谱图</h1>
      </div>
    </div>

    <div class="time-frequency">
      <div id="TimeFrequencyDiagram" style="width:100%;height:100%;margin:auto;padding: 20px">
        <h1>时频图</h1>
      </div>
    </div>

  </d-card-content>
</d-card>

<d-card class="card-container" [interactive]="false">
  <d-card-content>

    <d-row [dGutter]="12">
      <d-col [dSpan]="8">
        <div class="content-box">
          <h1>机床状态</h1>
          <div id="radar" style="width: 300px;height:300px;margin: auto;"></div>
        </div>
      </d-col>
      <d-col [dSpan]="8">
        <div class="content-box" [(ngModel)]="technologicalParameter" ngDefaultControl>
          <h1>工艺参数</h1>
          <h2>进给量：</h2>
          <h3>粗磨1：{{technologicalParameter[0][0].toFixed(2)}}mm/min</h3>
          <h3>粗磨2：{{technologicalParameter[0][1].toFixed(2)}}mm/min</h3>
          <h3>精磨：{{technologicalParameter[0][2].toFixed(2)}}mm/min</h3>
          <h3>光磨：{{technologicalParameter[0][3].toFixed(2)}}mm/min</h3>
          <h2>主轴线速度：{{technologicalParameter[1].toFixed(2)}}m/s</h2>
          <h2>工件轴转速：{{technologicalParameter[2].toFixed(2)}}r/min</h2>
        </div>
      </d-col>
      <d-col [dSpan]="8">
        <div class="content-box" [(ngModel)]="workpieceQuality" ngDefaultControl>
          <h1>工件质量</h1>
          <h2>粗糙度：{{workpieceQuality[0].toFixed(2)}}μm</h2>
          <h2>波纹度：{{workpieceQuality[1].toFixed(2)}}μm</h2>
          <h2>外径尺寸：{{workpieceQuality[2].toFixed(2)}}μm</h2>
          <h2>内径尺寸：{{workpieceQuality[3].toFixed(2)}}μm</h2>
        </div>
      </d-col>
    </d-row>

  </d-card-content>
</d-card>
